@{
    ViewData["Title"] = "Home Page";
}

<h1>HTTP5203: Lab 5</h1>

<h3>XML and .NET</h3>

<p>This lab requires that we create a form that will save new books to the books.xml file.</p>

<ul>
    <li>Books can be added in the "Add Book" Tab</li>

    <li>The list of books are displayed in the "Book List" Tab</li>

    <li>If the number of books exceeds 5, the first book is removed and the file is saved. If there are less than 5 books, the book simply saves to the file.</li>
</ul>